@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --color-lilita: #d3c6cc;
    --color-rosa: #e2c3c6;
    --color-rosa-viejo: #eecfc4;
    --color-beige: #f8e6c6;
    --color-amarillito: #ffffcc;
    --second-color: whitesmoke;
}
body{
    background: var(--color-rosa);
    font-family: 'Quicksand', sans-serif;
}
.navbar{
    background: var(--second-color);
}
.bg-hero-image {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-alpha-color{
    background-color: rgba(245, 245, 245, 0.75);
}
.avatar{
    border-radius: 50%;
}
.technologies{
    background-color: var(--second-color);
    border-radius: 7px;
}
